.root {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.icon {
  display: none;
  object-fit: contain;
}

:global(:root[data-os-theme='winxp']) .winxp,
:global(:root[data-os-theme='win98']) .win98 {
  display: block;
}
